
  .r{background-color: #cc0000;}
  .g{background-color:#33cc66;}
  .b{background-color:#0099ff;}
  .p{background-color:#9900cc;}
  .y{background-color:#ffcc00;}
  .one{background-color:black;}
  .zero{background-color:white;}
  .zero a{color:black;}
  .zero .navt{color:black;}

  