.slider-semi{
    width:80%;
    max-width: 1000px;
    overflow: hidden;
    border: 5px solid black;
    margin-left: 12%;
}

.slider-semi figure{
    position: relative;
    width: 500%;
    padding:0;
    margin: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.slider-semi figure img{
    width: 20%;
    height: auto;
    float: left;
}

@keyframes slidy{
    0%{left:0%;}
    20%{left:0%;}
    25%{left:-100%;}
    45%{left:-100%;}
    50%{left:-200%;}
    70%{left:-200%;}
    75%{left:-300%;}
    95%{left:-300%;}
    100%{left:-400%;}
}


